* {
    border: none;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.mobile-nav__menu-icon {
    background-color: transparent;
    margin-left: auto;
    max-width: 150px;
    stroke: blue;
    stroke-width: 1.5;
    position: fixed;
    width: 15%;
    z-index: 500;
}

.mobile-nav__button {
    display: flex;
}

.mobile-nav__list {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 50px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.mobile-nav__list-item {
    list-style-type: none;
}

.mobile-nav__list-link {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    margin: 20px 0;
    padding: 20px 0;
}

.mobile-nav__list {
    transform: translate(100vw);
}

.mobile-nav__list--open {
    animation: slideOpen .15s ease-in forwards;
}

.mobile-nav__list--close {
    animation: slideClosed .15s ease-in forwards;
}

@keyframes slideOpen {
    from {
        transform: translate(100vw);
    }
    to {
        transform: translate(0);
    }
}

@keyframes slideClosed {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(100vw);
    }
}

.mobile-nav__menu-icon--open {
    display: none;
}

.nav__logo {
    justify-self: start;
    width: 125px;
}

.nav__list {
    display: flex;
}

.nav__list-item {
    list-style-type: none;
}

.nav__list-link {
    text-decoration: none;
    padding: 25px;
}


/* Once we grow beyond 700px, do this... */
@media screen and (min-width: 320px) {

    /* Make our big nav visible */
    .nav {
        display: grid;
        justify-items: center;
    }

    /* Hide our mobile nav */
    .mobile-nav {
        display: none;
    }
}

.section {
    background-color: lightpink;
    padding: 50px 0;
}

.section--blue {
    background-color: lightskyblue;
}

.hero {
    background-color: var(--color-black);
    padding: var(--section-padding);
}

.hero__wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.hero__title {
    /* lets use the animation called "fadeIn" */
    /* the animation will last .5s */
    /* we'll use the ease-in timing function */
    /* we have a delay of .75s */
    /* and we'll use "forwards" to keep the styles from the last frame of our animation */
    animation: fadeIn .5s ease-in;
    color: var(--color-foreground);
    font-size: 5rem;
    margin-bottom: 35px;
    /* This will keep the text invisible while the animation is delayed 
    opacity: 0;*/
}

.hero__subtitle {
    /* We can reuse animations! */
    animation: fadeIn .5s ease-in;
    color: var(--color-foreground);
    font-size: 1.5rem;
}

.hero__underline {
    animation: grow 1s ease-in forwards;
    background-color: #545454;
    height: 2px;
    margin: 0 0 50px 0;
    transform: scaleX(0);
    transform-origin: left;
    width: 100%;
}

.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    /* grid-row-gap | grid-column-gap */
    grid-gap: 25px;
    padding: 25px;
}

.portfolio__pics {
    width: 100%;
}

/* Showing off object-fit and object-position */
.big-pics__pic {
    display: block;
    height: 1000px;
    margin: 0 auto;
    object-fit: cover;
    object-position: left;
    width: 30%;
}

.footer__logo {
    width: 150px;
}