* {
    border: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

/*** NAVBAR ***/
.nav{
    border-bottom: 1px solid gray;
} 

.nav__toggle {
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0;
}

.nav__toggle svg {
    width: 1.5rem;
    fill: gray;
}
    
.nav__toggle .close {
    display: none;
}
    
.nav__toggle .menu {
    margin-top: 0.2rem;
}

.nav__checkbox {
    display: none;
}

.nav__menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 1rem;
}

.nav__menu li {
    list-style: none;
    display: none;
}

.nav__menu li:first-child {
    margin-right: auto;
    display: block;
}

.nav__menu a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
}

.nav__menu svg {
    width: 1.5rem;
    fill: gray;
}

.nav__logo {
    justify-self: start;
    width: 1.5rem;
}

#nav__checkbox:checked ~ ul.nav__menu li {
    display: block;
}
#nav__checkbox:checked ~ label.nav__toggle .close {
    display: block;
}
#nav__checkbox:checked ~ label.nav__toggle .menu {
    display: none;
}
@media only screen and (min-width: 650px) {
    .nav__toggle {
        display: none;
   }
    .nav__menu {
        flex-direction: row;
   }
    .nav__menu li {
        display: block;
   }
}

.hero {
    background-color: var(--color-black);
    padding: var(--section-padding);
}

.hero__wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.hero__title {
    /* lets use the animation called "fadeIn" */
    /* the animation will last .5s */
    /* we'll use the ease-in timing function */
    /* we have a delay of .75s */
    /* and we'll use "forwards" to keep the styles from the last frame of our animation */
    animation: fadeIn .5s ease-in;
    color: var(--color-foreground);
    font-size: 5rem;
    margin-bottom: 35px;
    /* This will keep the text invisible while the animation is delayed 
    opacity: 0;*/
}

.hero__subtitle {
    /* We can reuse animations! */
    animation: fadeIn .5s ease-in;
    color: var(--color-foreground);
    font-size: 1.5rem;
}

.hero__underline {
    animation: grow 1s ease-in forwards;
    background-color: #545454;
    height: 2px;
    margin: 0 0 50px 0;
    transform: scaleX(0);
    transform-origin: left;
    width: 100%;
}

.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    /* grid-row-gap | grid-column-gap */
    grid-gap: 25px;
    padding: 25px;
}

.portfolio__pics {
    width: 100%;
}

/* Showing off object-fit and object-position */
.big-pics__pic {
    display: block;
    height: 1000px;
    margin: 0 auto;
    object-fit: cover;
    object-position: left;
    width: 30%;
}

.footer__logo {
    width: 150px;
}